.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    
}
#header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}
#header-img {
    width: 50px;
    height: 50px;
}
.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
}
.logo:hover {
    color: #b1736c;
}
.logo h3 {
    margin-left: 3%;
    font-family: 'Mouse Memoirs';
    font-size: 28px;
}
.navigation #nav-bar ul {
    display: flex;
    align-items: center;
}
.navigation #nav-bar ul li {
    margin-right: 25%;
}
.nav-link {
    font-size: 20px;
    font-family: 'Concert One';
    transition: all 0.5s;
}
.nav-link:hover {
    box-shadow: 10px 10px 20px #ffdc73;
    color: #b1736c;
}
#input-section {
    margin-top: 5%;
    text-align: center;
}
#input-section h1 {
    font-family: 'Concert One';
    font-size: 40px;
    margin-bottom: 20px;
}
#email {
    width: 20%;
    height: 30px;
    margin-bottom: 20px;
}
#submit {
    width: 10%;
    height: 40px;
    border: none;
    font-family: 'Concert One';
    background-color: #ffdc73;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.5;
}
#submit:hover {
    background-color: #fac6b1;
}
.first{
    display: flex;
    margin-bottom: 5%;
}
section {
    max-width: 70%;
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
}
.first div {
    margin-left: 8%;
}
.first div h2 {
    font-size: 30px;
    font-family: 'Concert One';
}
.first p {
    font-family: 'News Cycle';
    font-size: 18px;
}
#video-section {
    display: flex;
    justify-content: center;
}
#box-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    margin-right: 2%;
    max-width: 300px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbf3e9;
    box-shadow: 10px 10px 20px #b1736c;
}
.box p {
    margin-bottom: 10%;
    font-size: 18px;
    font-family: 'News Cycle';
}
.box h3, h4 {
    font-size: 30px;
    margin-bottom: 5%;
    margin-top: 3%;
    font-family: 'Concert One';
}
.box h3 {
    background-color: #fac6b1;
}
.box button {
    width: 30%;
    height: 40px;
    font-family: 'News Cycle';
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s;
    background-color: #ffdc73;
}
.box button:hover {
    background-color: #735c69;
    color: #fff;
}
@media(max-width:800px){
    .navigation {
        display: none;
    }
    #submit {
        font-size: 10px;
    }
    #video-section {
        display: none;
    }
    #box-section {
        flex-direction: column;
        align-items: center;
        
    }
    .first img{
        width: 30px;
        height: 30px;
    }
    .first div h2 {
        font-size: 20px;

    }
    .first div p {
        font-size: 15px;

    }
    .box {
        margin-top: 20px;
    }

}